@model Ideation.Models.Dtos.IdeaCreate
@{
    ViewBag.Title = "Meeting";
}

<div>
    <h3>@ViewBag.MeetingName Meeting</h3>
    <h4>@ViewBag.MeetingOwner</h4>
    <h5>@ViewBag.success </h5>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Send Your Idea</h4>
    <hr />

    <div class="form-group">
        @ViewBag.LoginError
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Idea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Idea, new { htmlAttributes = new { @class = "form-control", size = "130" } })
            @Html.ValidationMessageFor(model => model.Idea, "", new { @class = "text-danger" })

        </div>
    </div>

    @if (ViewBag.success != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.success");
            };
        </script>
    }

    <input id="MeetingId" name="MeetingId"
           type="hidden"
           value="@ViewBag.MeetingId" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" onclick="alert('Idea created for meeting')" value="Send Idea" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

